<main>
        <div class="content-footer">
            <div class="content-icons">
                <form action="#">
                    <a class="titleC">Cadastro De Usuários</a>
                    <div>
                        <a> Nome</a>
                        <a> Sobrenome</a>
                    </div>
                    <div>
                        <input type="name" placeholder="Nome" />
                        <input type="name" placeholder="Sobrenome" />
                    </div>
                </form>
            </div>
            <div class="content-address">
                <div class="content-address-info">
                    <form action="#">
                        <a> Email</a>
                        <input type="email" placeholder="Email" class="email"/>
                        <a> CPF/CNPJ</a>
                        <input type="text" placeholder="CPF/CNPJ "class="cpfinp" >
                    </form>
                    <a> Data</a>
                    <input type="date" placeholder=""  class="datainp"/>

                    <div class="content-senha">

                    <div class="content-sen">
                        <a>Senha</a> 
                        <a>Confirmar Senha </a>
                    </div>
                    <div class="content-sen-inp">
                            <input type="password" placeholder=""  class="senhainp"/>
                            <input type="password" placeholder=""  class="senhainp"/>
                    </div>
                    </div>
                    <div class="content-address-infob">
                        <button id="back-to-top-btn" onclick="window.location.href='eventosadm.html'"> Login </button>
                    </div>
                </div>
                
            </div>
        </div>       
        
    </main>