
<main>
        <div class="content-footer">
            <div class="content-icons">
                <form action="#">
                    <a> Usuario</a>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Senha" />
                    <div class="content-address-info">
                        <button id="back-to-top-btn1" onclick="window.location.href=''"> Login </button>
                    </div>
                </form>
            </div>
            <div class="content-address">
                <div class="content-address-info">
                    <form action="#">
                        <a class="fun"> Funcionário </a>
                        <input type="email" placeholder="Email" />
                        <input type="text" placeholder="N° De Registro">
                        <input type="password" placeholder="Senha" />
                        <div class="content-address-info">
                            <button id="back-to-top-btn" onclick="window.location.href=''"> Login </button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>       
        
    </main>