<main>
        <div class="content-footer">
            <div class="content-icons">
                <form action="#">
                    <a class="titleC">Cadastro De Evento</a>
                    <div>
                        <a> Nome Do Dono</a>
                        <a> Nome Do Evento</a>
                    </div>
                    <div>
                        <input type="name" placeholder="Nome Dono" />
                        <input type="name" placeholder="Nome Evento" />
                    </div>
                </form>
            </div>
            <div class="content-address">
                <div class="content-address-info">
                    <form action="#">
                        <a> Email</a>
                        <input type="email" placeholder="Email" class="email"/>
                        <a> CPF/CNPJ</a>
                        <input type="text" placeholder="CPF/CNPJ "class="cpfinp" >
                    </form>
                    <a> Data Evento</a>
                    <input type="date" placeholder=""  class="datainp"/>
                    <a> Horario Evento</a>
                    <input type="time" placeholder=""  class="datainp"/>
                    <a> Descrição Evento</a>
                    <input type="text" placeholder=""  class="datainp" id="descrinp"/>
                    <div class="content-senha">

                    <div class="content-sen">
                        <a>Celular</a> 
                        <a>Confirmar Senha </a>
                    </div>
                    <div class="content-sen-inp">
                            <input type="text" placeholder="(11 94424-5786)"  class="senhainp"/>
                            <input type="password" placeholder=""  class="senhainp"/>
                    </div>
                    </div>
                    <div class="content-address-infob">
                        <button id="back-to-top-btn" onclick="window.location.href='eventosadm.html'"> Login </button>
                    </div>
                </div>
                
            </div>
        </div>       
        
    </main>