@model RoleTopMVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Pedidos - McBonald's";
    ViewData["H2"] = "Histórico de Pedidos";
}

<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead class="hisorico">
            <tr>
                <th>Data</th>
                <th>Hamburguer</th>
                <th>Shake</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td>qq coisa</td>
                    <td>qq coisa1</td>
                    <td>qq coisa2</td>
                    <td>qq coisa3</td>
                </tr>
            
        </tbody>
    </table>

</main>