
<main>
    
        <div class="content-footer">
            <form method="POST" action='@Url.Action("Login", "Cliente")'>
            <div class="content-icons">
                
                    <a> Usuario</a>
                    <input type="email" placeholder="Email" name="email" required />
                    <input type="password" placeholder="Senha" name="senha" required/>
                    <div class="content-address-info">
                        <button id="back-to-top-btn1" type="submit"> Login </button>
                    </div>     
            </div>
            </form>
        </div>    
           
        
    </main>